body {
    background-color: #e4e2e0;
    color: #212121; */
    }
    /*Colors chosen from https://standards.usa.gov/components/colors/ */
    /* background gray-warm-light, text color federal base black */

a {
  color: #1F476B;
}

section {
padding-top:40px;
margin-left:2%;
}
